body {
  overflow-x: hidden;
  position: relative;
  color: $white2;
  background-color:#1C121F;
  // font-family: 'Open Sans';
  @include font('Work sans', 400);

  &.active-body {
    overflow: hidden;
  }
  ;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 36px;
}

a,
button {
  color: $white2;
}

.container {
  max-width: 1390px;
  // max-width: 1920px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.swiper{
  overflow: visible !important;
}