body {
  overflow-x: hidden;
  position: relative;
  color: $white2;
  background-color: #1C121F;
  // font-family: 'Open Sans';
  @include font('Work sans', 400);

  &.active-body {
    overflow: hidden;
  }

  &.active {
    overflow: hidden;
  }



}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 36px;
}

a,
button {
  color: $white2;
}

.container {
  max-width: 1390px;
  // max-width: 1920px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.swiper {
  overflow: visible !important;
  padding-top:100px !important ;
  @media (max-width:600px) {
    padding-top:50px;
}
}

.slider-title {
  margin-bottom: 84px;
  font-family: 'Oxanium';
  font-weight: 700;
  font-size: 64px;
  line-height: 130px;
  color: #F5FBF2;
  position: relative;

  @media (max-width:700px) {
    font-size: 42px;
    margin-bottom: 0px;
    
  }
  @media (max-width:450px) {
    font-size: 28px;
    
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-40%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    @media (max-width:700px) {
      width: 64px;
      height: 64px;
      
    }

    @media (max-width:600px) {
      width: 84px;
      height: 84px;
    }
    @media (max-width:450px) {
      width: 54px;
      height: 54px;
    }

  }

  &--red {
    &::after {
      background-color: $red
    }
  }
  &--purple {
    &::after {
      background-color: $purple;
    }
  }
 

  span {
    text-align: center;
    position: relative;
    z-index: 2;
  }

  ;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

.bebra {
  position: relative;
}

.slider-btn {
  color: #ffff;
  font-size: 30px;
  line-height: 35px;
  padding-top: 21px;
  padding-bottom: 21px;
  border: 1px solid #FDE8B3;
  background: transparent;
  padding: 24px 64px;
  display: flex;
  margin-top: 108px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    background: #FFCE4E;
    border-color: #FFCE4E;
    ;
  }
}