.creators {
    margin-top: 80px;
    &__title {
        padding-top: 104px;

    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:  40px 40px;
       
        
      
        @media (max-width:1150px) {
            grid-template-columns: 1fr;
            gap: 40px;
            justify-items: center;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 608px;
        width: 100%;
        padding: 28px 64px 28px 28px;
        background: #302034;
        box-shadow: inset 2px 0px 0px #E03054;

    }

    &__authore-info {
        display: flex;
        align-items: center;
       

    }

    &__avatar-img {
        margin-right: 24px;
        width: 104px;
        height: 104px;
        @media (max-width:1000px) {
          width: 55px;
          height: 55px;
        }
    }

    &__author-name {
        font-family: 'Oxanium';
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        display: block;
        @media (max-width:1150px) {
            font-size: 20px;
        }
    }

    &__author-eth {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #BDAAC1;
    }

    &__items-count {
        span {
            display: block;
        }
        position: relative;
        &::after {
            position: absolute;
            content: '';
            background: #49374E;
            left: -45px;
            top: 50%;
            height: 100%;
            width: 3px;
            transform: translateY(-50%);
            
          
            @media (max-width:1150px) {
                left: -30px;
            }
            @media (max-width:420px) {
                left: -20px;
                height: 60px;
                // top: 10px;
            }
        }
    }

    &__count {
        font-family: 'Oxanium';
        font-size: 32px;
        color: $white2;
        line-height: 35px;
        font-weight: 700;
        // margin-bottom: 6px;
        @media (max-width:1150px) {
            font-size: 24px;
        }
    }

    &__items-label {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #908294;
        @media (max-width:1150px) {
            font-size: 16px;
        }
    }
}