.explore {
    margin-top: 184px;
    &__wrapper {
        padding: 32px 32px 28px 32px;
        background: #3D2942;
    }
    &__slider-item {
        max-width: 415px;
        width: 100%;
    }

    &__title {
        &:after {
            top: 2px;
            left: 24%;
            background: #8613A5;
            width: 130px;
            height: 130px;
        }
        margin-bottom: 84px;
    }

    &__img {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .65);
            opacity: 0;
            transition: all .3s;
        }

        &:hover {
            &::after {
                opacity: 1;
            }


            .explore__img-label{
                opacity: 1;
            }
        }
        
    }

    &__img-item {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }

    &__img-label {
        position: absolute;
        padding: 21px 57px;
        content: '';
        background: #FFCE4E;
        top: 50%;
        left: 50%;
        font-size: 24px;
        font-weight: 600;
        width: max-content;
        line-height: 28px;
        text-align: center;
        color: #000000;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: all .3s;
        &:hover {
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 206, 78, 0.35);
            -moz-box-shadow: 0px 0px 15px 5px rgba(255, 206, 78, 0.35);
            box-shadow: 0px 0px 15px 5px rgba(255, 206, 78, 0.35);
        }
    }

    &__info {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
    }

    &__avatar {
        margin-right: 12px;
    }

    &__profile {
        display: flex;
        align-items: center;
    }

    &__info-title {
        font-size: 24px;
        font-family: 600;
        color: $white2;
        line-height: 35px;
    }

    &__info-by {
        font-size: 18px;
        font-weight: 400;
        line-height: 35px;
        color: #BDAAC1;

    }

    &__likes {
        display: flex;
        align-items: center;
    }

    &__hcount {
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
        color: #BDAAC1;
        margin-left: 12px;
    }

    &__bit-course {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__bit-label {
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
        color: #C6BFC8;
    }

    &__bit-eth {
        // margin-top: 24px;
        font-size: 20px;
        line-height: 35px;
        font-weight: 700;
        font-family: 'Oxanium';
    }
    @media (max-width:600px) {
        margin-top: 90px;
    }
}