.footer {
    padding: 117px 0;

    &__inner {
        display: flex;
        justify-content: space-between;

        @media (max-width:1000px) {
            flex-direction: column;
            align-items: center;
            // flex-wrap: wrap;
        }
    }

    &__img {
        height: 194px;
        width: 194px;

        @media (max-width:1000px) {
            margin-bottom: 50px;

        }
    }

    &__desc-text {
        max-width: 390px;
        padding-bottom: 55px;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        color: #96839B;

        @media (max-width:1000px) {
            text-align: center;

        }
    }

    &__rights {
        max-width: 390px;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: #96839B;

        @media (max-width:1000px) {
            display: flex;
            justify-content: center;


        }
    }
}

.media {
    display: flex;
    padding-bottom: 55px;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    &__link {
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    a:hover {
        path {
            fill: #F7D7FF;
        }
    }

    @media (max-width:1000px) {
        margin: 50px auto 7px auto;
        padding-bottom: 0px;
    }
}

.support,
.about {
    a {
        font-size: 20px;
        line-height: 50px;
        font-weight: 500;
        color: #96839B;
    }
}

.footer-nav--title {
    font-size: 24px;
    color: $white2;
    line-height: 35px;
    font-weight: 700;
}

.links-wrapp {
    display: flex;
    max-width: 450px;
    width: 100%;

    @media (max-width:1100px) {
        max-width: 350px;
    }

    @media (max-width:1100px) {
        max-width: 350px;
    }

    @media (max-width:1000px) {
        max-width: 70%;

    }

    @media (max-width:600px) {
        max-width: 1000%;

    }
}

.support {
    margin-left: auto;
}