.footer {
    padding: 117px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        height: 194px;
        width: 194px;
    }

    &__desc-text {
        max-width: 390px;
        padding-bottom: 55px;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        color: #96839B;
    }

    &__rights {
        max-width: 390px;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: #96839B;
    }
}

.media {
    display: flex;
    padding-bottom: 55px;
    align-items: center;

    &__link {
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 30px;
        }


    }

    a:hover {
		path {
			fill: #F7D7FF;
		}
	}
}

.support,
.about {
    a {
        font-size: 20px;
        line-height: 50px;
        font-weight: 500;
        color: #96839B;
    }
}

.footer-nav--title {
    font-size: 24px;
    color: $white2;
    line-height: 35px;
    font-weight: 700;
}